* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about-section {
  width: 85vw;
  margin: 0 auto;
}
.about-section p {
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-indent: 2rem;
}

.section {
  padding: 5rem 0;
}
.section-title {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  text-align: center;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
}
